registry=https://registry.npmjs.org/
always-auth=true

@pluhsoft:registry=https://pkgs.dev.azure.com/PluhSoft/pluhsoft.com/_packaging/PluhSoft/npm/registry/
//pkgs.dev.azure.com/PluhSoft/pluhsoft.com/_packaging/PluhSoft/npm/registry/:username=PluhSoft
//pkgs.dev.azure.com/PluhSoft/pluhsoft.com/_packaging/PluhSoft/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/PluhSoft/pluhsoft.com/_packaging/PluhSoft/npm/registry/:email=npm requires email to be set but doesn't use the value
