@import "../../variables";

.projects {
  &__titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @include at-md {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;
      text-align: center;
    }

    @include at-sm {
      gap: 15px;
      margin-bottom: 30px;
    }
  }

  &__positionCards {
    display: flex;
    gap: 30px;
    align-items: flex-end;

    @include at-md {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    @include at-sm {
      gap: 15px;
    }
  }
}
