@import "../../variables";

.projectCardMain {
  width: 370px;

  padding: 45px 41px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include at-md {
    width: 100%;
    max-width: 400px;
    padding: 35px 30px;
    border-radius: 25px;
  }

  @include at-sm {
    padding: 25px 20px;
    border-radius: 20px;
    gap: 15px;
  }

  &__description {
    font-size: 16px;
    line-height: 20px;
    font-weight: $font-regular;

    @include at-sm {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.projectCardMain__middle_green {
  border: 3px solid $middle-green;
}

.projectCardMain__middle_yellow {
  border: 3px solid $yellow;
}

.projectCardMain__dark_green {
  border: 3px solid $dark-green;
}
