@import "../../variables";

.frame {
  position: relative;
  @include responsive-container;
  margin: 70px auto 0 auto;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;

  @include at-md {
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
  }

  @include at-sm {
    margin: 30px auto 0 auto;
    padding-bottom: 30px;
    gap: 20px;
    border-radius: 15px;
  }
}
