@import "../../variables";

.definition {
  text-align: center;
  font-style: italic;
  color: $plan-week;
  margin-bottom: 20px;
  font-weight: 400;
}

.gray {
  color: $plan-week;
}

.italic {
  font-style: italic;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-10 {
  margin-top: 10px;
}

.fs-19 {
  font-size: 19px;
}
