@import "../../../variables";

.submitButton {
  width: 100%;
  background-color: $dark-green;
  margin-top: 40px;
  z-index: 100;

  @include at-md {
    margin-top: 30px;
  }

  @include at-sm {
    margin-top: 25px;
  }

  &:hover {
    background-color: $middle-green;
  }
}
